/* universal all set */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* common-css-style */
:root {
    --bg-color: rgba(255, 144, 14, 0.1);
    --primary-color: #131313;
    --btn-txt-color: #FFFFFF;
    --btn-bg-color: #FF900E;
    --descrip-color: #727272;

}

/* common css */
.hide {
    /* display: none; */
}

.span-color {
    color: var(--btn-bg-color);
}

.common-color {
    background: var(--bg-color);
}

.common-brand-title {
    font-weight: 600;
    font-size: 35px;
}

.common-p-tag {
    font-weight: 200;
    font-size: 13px;
    color: var(--descrip-color);
    padding: 10px 0;
}

.common-btn {
    width: 150px;
    height: 50px;
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    border: none;
    border-radius: 5px;
}

/* nav menu  */
.nav-container {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 10px;
}

.nav-left,
.nav-right-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.nav-right-info {
    gap: 0 20px;
}

.architects-top-title,
.nav-tittle {

    color: var(--primary-color);
}

.architects-top-title {
    font-weight: 600;
    font-size: 25px;
}

.nav-tittle {
    font-weight: 500;
    font-size: 18px;
}

/* main part starts */
/* architects brand new part */

.architects-brand-conatiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;

}

.architects-brand-info>div {
    text-align: center;
}



.banner-div img {
    width: 100%;
    height: 30%;
    margin: 0 auto;

}

/* Quick list of Our Features part*/
.Quick-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 20px 0;


}

.Quick-list-img-container {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 0 auto;


}

.Quick-list-img-container img {
    width: 330px;
    height: 330px;

}

.Quick-list-descrip {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 25px;


}

/* Features you will love & enjoy part */
.features-container {
    display: flex;
    margin: 0 auto;
    height: 750px;






}

.feature-info {
    width: 40%;
    height: 982px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.feature-info h1 {
    font-weight: 700;
    font-size: 45px;
}

.right-line {
    border-left: 5px solid var(--btn-bg-color);
    padding: 0 10px;

}

.common-box-shadow {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.features-img {

    width: 550px;
    height: 700px;
    margin-right: 70px;

}

.btn-container {

    display: flex;
    justify-content: center;
    align-items: center;


}

.feature-btn {

    margin-top: -45px;
    margin-right: -70px;
    z-index: 1;
    width: 280px;
    height: 120px;
    font-weight: 700;
    font-size: 40px;
    border-radius: 8px;


}

.feature-btn span {
    font-weight: 600;
    font-size: 25px;
}

.features-img>img {
    width: 100%;
    position: relative;

}

/* extra part */
.home-style-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine;
    */
}

.home-style-tittle h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
    border: 2px dashed orange;
}

.extra-part-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 2rem;
}

.container .box:hover .imgBox {
    transform: translate(-1rem, -1rem);
}

.container .box:hover .content {
    transform: translate(1rem, 1rem);
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.imgBox img {
    width: 100%;
    object-fit: cover;
    resize: both;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.content h2 {
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
}

.content span {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
}

/* some facts part */
.facts-container h2 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 50px;
}

.facts-container>p {
    font-weight: 400;
    font-size: 16px;
    
}
.some-facts-info{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.cards-container {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    height: 500px;


}

.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


}




.card:hover {
    transform: translateY(-50px);
    background-color: #dac7c7;
}

/* sponsers part */

.sponsers-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsers-info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.sponsers-descrip{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.sponser-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    height: 200px;
}
.sponser-img-container img{
    width: 166.76px;
    height: 40px;
}


/* use media query for mobile  */

@media only screen and (max-width:767px) {

    /* navbar part */
    .nav-container,
    .nav-right-info {
        flex-direction: column;
        height: 16%;
        gap: 8px;
        justify-content: center;
        padding-bottom: 10px;
    }

    /* architects brand new part */
    .common-brand-title {
        font-weight: 300;
        font-size: 20px;
    }

    .common-p-tag {
        font-weight: 200;
        font-size: 10px;
        color: var(--descrip-color);

    }

    .common-btn {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        font-weight: 200;
        font-size: 12px;
    }

    .banner-div img {
        height: 100px;


    }

    /* Quick list of Our Features part */
    .Quick-list-container {
        flex-direction: column;


    }

    .Quick-list-img-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin: 0 auto;
        padding: 0px 10px;

    }

    .Quick-list-img-container img {
        width: 100%;

    }

    .Quick-list-descrip {
        text-align: left;
        width: 100%;
        padding-top: 10px;

    }

    /* Features you will love & enjoy part */
    .features-container {

        flex-direction: column;
        padding: 0 10px;
        height: 1360px;


    }

    .feature-info {

        width: 100%;
    }

    .features-img {
        width: 100%;
    }

    .btn-container {


        margin-top: 5px;


    }

    .feature-btn {

        margin: 0 auto;
        width: 200px;
        height: 80px;
        font-weight: 600;
        font-size: 25px;
        border-radius: 8px;


    }

    /* extra part */
    .container .box:hover .content {
        transform: translate(0, 2.5rem);
    }

    .container .box:hover .imgBox {
        transform: translate(0, -2.5rem);
    }

    .home-style-tittle h1 {
        font-weight: 500;
        font-size: 30px;

    }

    /* some facts part */
    .facts-container {
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .cards-container {
        flex-direction: column;
        row-gap: 10px;
    }

    .card {
        width: 200px;
        height: 200px;
    }
    .some-facts-info{
        text-align: center;
        margin-bottom: 20px;
        
    }
    /* sponsers part */

    .sponser-img-container{
        flex-direction: column;
        row-gap: 20px;
        height: 110px;
    }
    .sponsers-descrip{
       
        height: 250px;
        width: 100%;
        margin-top: 30px;
    }
    .sponser-img-container img{
        width: 100px;
        height: 50px;
    }
}