/* universal all set */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* common-css-style */
:root {
    --bg-color: rgba(255, 144, 14, 0.1);
    --primary-color: #131313;
    --btn-txt-color: #FFFFFF;
    --btn-bg-color: #FF900E;
    --descrip-color:#727272;

}
/* common css */
.common-color {
    background: var(--bg-color);
}
.common-brand-title {
    font-weight: 600;
    font-size: 35px;
}

.common-p-tag {
    font-weight: 200;
    font-size: 13px;
    color: var(--descrip-color);
    padding: 10px 0;
}

/* nav menu  */
.nav-container {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 10px;
}

.nav-left,
.nav-right-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.nav-right-info {
    gap: 0 20px;
}

.architects-top-title,
.nav-tittle {

    color: var(--primary-color);
}

.architects-top-title {
    font-weight: 600;
    font-size: 30px;
}

.nav-tittle {
    font-weight: 500;
    font-size: 18px;
}

/* main part starts */
/* architects brand new part */

.architects-brand-conatiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;

}

.architects-brand-info>div {
    text-align: center;
}



.banner-div img {
    width: 100%;
    height: 25%;
    margin: 0 auto;

}

.common-btn {
    width: 150px;
    height: 50px;
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    border: none;
    border-radius: 5px;
}











/* use media query for mobile  */

@media only screen and (max-width:767px) {

    /* navbar part */
    .nav-container,
    .nav-right-info {
        flex-direction: column;
        height: 16%;
        gap: 8px;
        justify-content: center;
        padding-bottom: 10px;
    }

}