/* universal all set */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* common-css-style */
:root {
    --bg-color: rgba(255, 144, 14, 0.1);
    --primary-color: #131313;
    --btn-txt-color: #FFFFFF;
    --btn-bg-color: #FF900E;
    --descrip-color: #727272;

}

/* common css */
.hide {
    /* display: none; */
}

.span-color {
    color: var(--btn-bg-color);
}

.common-color {
    background: var(--bg-color);
}

.common-brand-title {
    font-weight: 600;
    font-size: 35px;
}

.common-p-tag {
    font-weight: 200;
    font-size: 13px;
    color: var(--descrip-color);
    padding: 10px 0;
}

.common-btn {
    width: 150px;
    height: 50px;
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    border: none;
    border-radius: 5px;
}

/* nav menu  */
.nav-container {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 10px;
}

.nav-left,
.nav-right-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.nav-right-info {
    gap: 0 20px;
}

.architects-top-title,
.nav-tittle {

    color: var(--primary-color);
}

.architects-top-title {
    font-weight: 600;
    font-size: 25px;
}

.nav-tittle {
    font-weight: 500;
    font-size: 18px;
}

/* main part starts */
/* architects brand new part */

.architects-brand-conatiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;

}

.architects-brand-info>div {
    text-align: center;
}



.banner-div img {
    width: 100%;
    height: 30%;
    margin: 0 auto;

}

/* Quick list of Our Features part*/
.Quick-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 20px 0;


}

.Quick-list-img-container {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 0 auto;


}

.Quick-list-img-container img {
    width: 330px;
    height: 330px;

}

.Quick-list-descrip {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 25px;


}

/* Features you will love & enjoy part */
.features-container {
    display: flex;
    margin: 0 auto;
    height: 750px;



}

.feature-info {
    width: 40%;
    height: 982px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.feature-info h1 {
    font-weight: 700;
    font-size: 45px;
}

.right-line {
    border-left: 5px solid var(--btn-bg-color);
    padding: 0 10px;

}

.features-img {
    width: 40%;
    height: 1059px;
    margin-right: 70px;


}

.btn-container {

    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.feature-btn {


    margin-top: -60px;
    margin-right: -70px;
    z-index: 1;
    width: 300px;
    height: 150px;
    font-weight: 700;
    font-size: 45px;
    border-radius: 8px;

}

.feature-btn span {
    font-weight: 600;
    font-size: 25px;
}

.features-img>img {
    width: 100%;
    position: relative;

}








/* use media query for mobile  */

@media only screen and (max-width:767px) {

    /* navbar part */
    .nav-container,
    .nav-right-info {
        flex-direction: column;
        height: 16%;
        gap: 8px;
        justify-content: center;
        padding-bottom: 10px;
    }

    /* architects brand new part */
    .common-brand-title {
        font-weight: 300;
        font-size: 20px;
    }

    .common-p-tag {
        font-weight: 200;
        font-size: 10px;
        color: var(--descrip-color);

    }

    .common-btn {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        font-weight: 200;
        font-size: 12px;
    }

    .banner-div img {
        height: 100px;


    }

    /* Quick list of Our Features part */
    .Quick-list-container {
        flex-direction: column;


    }

    .Quick-list-img-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin: 0 auto;
        padding: 0px 10px;

    }

    .Quick-list-img-container img {
        width: 100%;

    }

    .Quick-list-descrip {
        text-align: left;
        width: 100%;
        padding-top: 10px;

    }

}